/dist
/at.db*
/at
/scripts
/.env*
/.worktrees
/.opencode
/.sisyphus
/.claude
/openspec
/.mcp.json
/opencode.json
/dump.sql
/data
/internal/devfs/devfsbin/bin/*
!/internal/devfs/devfsbin/bin/.gitkeep
.impeccable